body {
    color: #555555;
    font-family: 'Noto Sans',sans-serif;
}
/*
Custom CSS Sheet for Auckland Bands
*/

h1, h2, h3, h4, h5, h6 {
	color: #333333;
    font-family: 'Roboto Condensed',sans-serif;
}



ul.nav a {
	color: #d0cece!important;
}

ul.nav a:hover {
	color: #ffffff !important;
}

ul.dropdown-menu a {
	color: #000 !important;
}

ul.dropdown-menu a:hover {
	color: #000 !important;
}

.navbar-brand {
	font-size: large;
	color: white !important;
	text-shadow: 1px 1px #333333;
	font-family: 'Roboto Condensed',sans-serif;

}

.main {
	font-family: 'Roboto Condensed',sans-serif;
	/*font-variant: small-caps;*/
	text-align: center;
	color: #234190;
}

footer {
	padding: 10px 0;
	background: #234190;
}

p {
	line-height: 1.6;
	font-size: 16px;
}
a:focus {
    outline: none;
}

a {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}


