<!--TODO: Proper contact links-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3 class = "footer-text">
                    Auckland Bands Association Inc.
                </h3>
                <ul class="list-inline">
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>  <a href="">Email</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-earphone"></span>  <a href="">Phone</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-thumbs-up"></span> <a href="">Facebook</a>
                    </li>
                    <hr class="small">
                    <p>Website Created by Emily Melhuish<br>
                        Copyright &copy; Auckland Bands Association Inc. 2015</p>
                </ul>
            </div>
        </div>
    </div>
</footer>