<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #234190; text-align:center;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                Auckland Bands
            </a>
        </div>
        <li class="collapse navbar-collapse appiNav">
            <ul class="nav navbar-nav">
                <!-- TODO: Add links to pages-->
                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> News & Events</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book"></span> Education</a></li>
                <li><a href="findBand.html"><span class="glyphicon glyphicon-map-marker"></span> Find A Band</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span> Results</a></li>
                <li><a href="forms.html"><span class="glyphicon glyphicon-pencil"></span> Regulations & Forms</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span> Useful Links</a></li>
            </ul>
    </div>
    <!--/.nav-collapse -->
</div>